@font-face {
  font-family: "iconfont"; /* Project id 3222598 */
  src: url('iconfont.woff2?t=1646487928517') format('woff2'),
       url('iconfont.woff?t=1646487928517') format('woff'),
       url('iconfont.ttf?t=1646487928517') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home-fill:before {
  content: "\e7ae";
}

